header{
    grid-area: header;
    padding:10px 0px;
      max-width: 100%;
      border-bottom:1px solid #e5e7eb;

    }
    .header_content{
    padding:10px 20px;
    }
    .header_content_logo{
      max-height: 30px;
    }