*{
box-sizing: border-box;
margin: 0;
}
#root{
  max-width: 1280px;
  margin-left: auto;
  margin-right:auto;
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: repeat(2,max-content);
  grid-template-columns: 2fr 10fr;
}
header{
grid-area: header;
padding:10px 0px;
  max-width: 100%;

}
.header-content{
padding:0px 10px;
}
.header-content-logo{
  max-height: 30px;
}
nav{
grid-area: nav;
display: flex;
flex-flow: column;
  background-color: #FFCCBB;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
nav a{
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #318A7B;
  text-decoration: none;
}
nav a:not(:last-child){
  padding-bottom:10px;
}
.nav-last{
  margin-top: 10px;
}
main{
  background-color: #D3E3FC;
grid-area: main;
width: 100%;
padding-top: 20px;
padding-left: 20px;
}
.main-img_top{
  width: 100%;
}
.main-content-imgName{
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.main-content-imgName img{
  max-width: 200px;
}
.main-content-imgName p{
  margin-left: 20px;
  font-size: 22px;
  font-weight: 600;
}