*{
box-sizing: border-box;
margin: 0;
}
#root{
  margin-left: auto;
  margin-right:auto;
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-rows: repeat(2,max-content);
  grid-template-columns: max-content 10fr;
}


